body {
  background: #03071E;
  background-image: url("https://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 800px;
  margin: 40px;
  width: 100%;
}

.container {
  background: rgb(199,203,219);
  background: linear-gradient(0deg, rgba(199,203,219,1) 0%, rgba(249,245,234,1) 100%);
  opacity: 0.98;
  border-radius: 1.5rem;
  margin: 3rem 0 1.25rem;
  padding: 10px 20px 10px;
}

.container-question {
  background: rgb(199,203,219);
  background: linear-gradient(0deg, rgba(199,203,219,1) 0%, rgba(249,245,234,1) 100%);
  border: 2px solid #132774;
  border-radius: 1.5rem;
  margin-top: 0.5rem;
  padding: 20px;
}

.hide {
  opacity: 0.5;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  border-radius: 1.5rem;
  margin-top: 0.5rem;
  padding: 20px;
}

.navbar a {
  text-decoration: none;
}

.empty img {
  width: 70%;
  border-radius: 2rem;
  opacity: 0.9;
}

@media (max-width: 400px) {
  .navbar p {
    text-align: center;
  }
  .navbar{
    display: block;
    text-align: center;
  }
}
