.theme-light .navbar {
  background: rgb(199,203,219);
  background: linear-gradient(0deg, rgba(199,203,219,1) 0%, rgba(249,245,234,1) 100%);
}

.theme-light .navbar .nickname {
  font-weight: bold;
}
/*#########################################*/

.theme-dark .navbar {
  background: rgb(21,50,107);
  background: linear-gradient(0deg, rgba(21,50,107,1) 0%, rgba(118,120,121,1) 100%);
}

.theme-dark .navbar a {
  color: #FFFFFF;
}

.theme-dark .navbar .button-yellow {
  background: rgb(199,203,219);
  background: linear-gradient(0deg, rgba(199,203,219,1) 0%, rgba(249,245,234,1) 100%);
  color: #000000;
}

.theme-dark .navbar .nickname {
  color: rgba(249,245,234,1);
  font-weight: bold;
}

/*#########################################*/

.theme-blue .navbar {
  background: rgb(21,50,107);
    background: linear-gradient(0deg, rgba(21,50,107,1) 40%, rgba(33,164,255,1) 100%);
}

.theme-blue .navbar .intro {
  color: #ffba08;
}

.theme-blue .navbar .nickname {
  color: rgba(249,245,234,1);
  font-weight: bold;
}
